/* 
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
/* #Site Styles
================================================== */

body {
	background: url(/images/background.jpg) #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	font-family: "Lucida Sans";
	font-size: 10pt;
	color: #202020;
}

a, a:visited, a:hover {
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: "Lucida Sans";
	color: #202020;
}

h2 {
	color: #9f9f9f;
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-image: url(/images/bullet.gif);
}

#background {
	background: url(/images/top_bg.gif);
	background-repeat: repeat-x;
}

#top {
	width: 100%;
	height: 88px;
	color: #ffffff;
	overflow: hidden;
}

#top h1 {
	color: #FFFFFF;
	letter-spacing: 3px;
	font-size: 18pt;
	font-weight: normal;
	position: relative;
	margin: 0px;
	top: 33px;
	display: block;
	float: left;
	background: url(/images/bg_t.gif) no-repeat;
	padding-left: 10px;
}

#top h1 a {
	color: #ffffff;
	text-decoration: none;
}

#main_menu {
	display: block;
	float: right;
}

#main_menu ul {
	margin: 0px;
	list-style: none;
}

#main_menu li {
	display: block;
	float: left;
	white-space: nowrap;
}

#main_menu li a {
	display: block;
	padding: 55px 20px 12px 20px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

* html #main_menu a {width: 1%;}

#main_menu li a:hover {
	background: url(/images/bg_menu.gif);
}

#main_menu li a.current {
	letter-spacing: 1px;
	color: #000000;
	background: url(/images/bg_menu.gif);
}

#main_menu li a.current:hover {
	color: #FFFFFF;
}

#content {
	margin-top: 30px;
	background: #ffffff;
	padding: 10px;
}

#content h2 {
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

/* From rails scaffold.css */
div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* #Page Styles
================================================== */

#welcome {
	margin: 20px 0px 0px 20px;
	font-size: 12pt;
}

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/