/* 
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
/* #Site Styles
================================================== */

body {
	background: #FFF;
	background-repeat: no-repeat;
	background-position:top;
	font-family: "Lucida Sans Unicode", "Arial";
	font-size: 10pt;
	color: #202020;
	margin: 0px;
}

a, a:visited, a:hover {
	text-decoration: none;
}

a, a:visited {
	color: #93B300;
}

a:hover {
	color: #6e8600;
}

h1, h2, h3, h4 {
	font-family: "Lucida Sans Unicode", "Arial";
	color: #202020;
	margin: 0px;
	padding: 0px;
}

h2 {
	color: #777;
	font-size: 14pt;
}

h3 {
	color: #555555;
	font-size: 9pt;
	line-height: normal;
	font-style: italic;
	font-weight: bold;
}

h4 {
	font-size: 8pt;
	line-height: normal;
	font-style: italic;
	font-weight: normal;
	color: #888;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-image: url(/images/bullet.gif);
}

blockquote{
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}

.shadow {
	-moz-box-shadow: 5px 5px 5px #aaa;
	-webkit-box-shadow: 5px 5px 5px #aaa;
	box-shadow: 5px 5px 5px #aaa;
}

#background {
	background: url(/images/top_bg.gif);
	background-repeat: repeat-x;
}

#top {
	width: 100%;
	height: 88px;
	color: #FFFFFF;
	overflow: hidden;
}

#top h1 {
	color: #FFFFFF;
	letter-spacing: 3px;
	font-weight: normal;
	position: relative;
	margin: 0px;
	top: 33px;
	display: block;
	float: left;
	background: url(/images/bg_t.gif) no-repeat;
	padding-left: 10px;
	font-size: 20pt;
}

#top h1 a {
	color: #FFFFFF;
	text-decoration: none;
}

#main_menu {
	display: block;
	float: right;
}

#main_menu ul {
	margin: 0px;
	list-style: none;
}

#main_menu li {
	display: block;
	float: left;
	white-space: nowrap;
}

#main_menu li a {
	display: block;
	padding: 55px 20px 12px 20px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: 1px;
}

* html #main_menu a {width: 1%;}

#main_menu li a:hover {
	background: url(/images/bg_menu.gif);
}

#main_menu li a.current {
	color: #000000;
	background: url(/images/bg_menu.gif);
}

#main_menu li a.current:hover {
	color: #FFFFFF;
}

#content {
	overflow: hidden;
	/* margin: 10px; */
}

#content h2 {
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

#contentbg {
	margin-top: 30px;
	background: #FFF;
}

#footer {
	background: #FFFFFF;
	border-top: 2px solid #000000;
	margin-top: 30px;
	padding: 5px 0px;
}

#copyright {
	float: left;
}

#acknowledgements {
	font-size: 8pt;
	text-align: right;
	line-height: 10px;
	float: right;
}

/* From rails scaffold.css */
div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* #Page Styles
================================================== */
/* Home Page */

#welcome {
	/* margin: 20px 0px 0px 20px; */
	margin-top: 20px;
	font-size: 12pt;
	line-height: 30px;
}

#welcome span {
	color: #CC0000;
	font-size: 14pt;
}

#updates h2, #games h2 {
	text-align: center;
}

#updates h4, #games h4 {
	margin: -20px 0px 20px 0px;
	text-align: center;
}

#updates li {
	list-style: none;
}

#updates blockquote {
	font-size: 10pt;
	padding: 5px;
}
.update {
	margin-bottom: 20px;
}


/* Bio Page */

#bio {
	/* margin: 20px 0px 0px 20px; */
	margin-top: 20px;
	font-size: 12pt;
	line-height: 30px;
}

#games {
	text-align: center;
	margin-top: 50px;
}

#profiles {
	margin-top: 20px;
	text-align: center;
}

#profiles .profile {
	margin-top: 5px;
	overflow: hidden;
}

/* Resume Page */

#resume {
	font-size: 12pt;
}

#resume .leftborder {
	border-left: 1px solid #202020;
	margin-bottom: 10px;
	padding-left: 15px;
}

#resume .bottomborder {
	border-bottom: 1px solid #202020;
}

#resume .rightalign {
	text-align: right;
}

#resume .section {
	margin-top: 20px;
}

#resume .link {
	color: #202020;
}

#resume ul a.link {
	font-size: 8pt;
}

#resume .job {
	margin: 10px 0px 20px 10px;
}

#resume .job_description {
	margin-top: 10px;
	margin-bottom: 10px;
}

#resume i {
	font-style: italic;
}

#resume h1 {
	font-size: 16pt;
	margin: 0px;
	line-height: normal;
}

#resume ul {
	margin: 0px;
	padding: 0px;
	list-style-type: disc;
	list-style-image: none;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 0px;
}

#resume p {
	padding-left: 20px;
}

#resume h2 {
	font-size: 12pt;
	font-weight: bold;
	color: #202020;
}

#resume #contact_info {
	border-top: 2px solid #202020;
	text-align: center;
}

#resume #address {
	border-top: 2px solid #202020;
	border-bottom: 2px solid #202020;
	background: #999999;
}

#resume #address #permanent {
	text-align: right;
}

#resume #download {
	margin-bottom: 10px;
}


/* Contact Page */

#contact_info {
	font-size: 12pt;
	margin-top: 10px;
}


/* Error Pages */

#errorbg {
	position: relative;
	top: 200px;
	background: #202020;
	padding: 20px 0px 10px 0px;
}

#errorbg #message {
	color: #FFF;
	letter-spacing: 3px;
	font-size: 24pt;
}

#errorbg #buttons {
	text-align: right;
	font-size: 24pt;
	margin-top: 15px;
}

#errorbg #buttons a, #errorbg #buttons a:visited {
	color: #FFF;
	margin-right: 10px;
	padding: 5px;
}

#errorbg #buttons a:hover {
	background: #FFF;
	color: #202020;
}

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {
		.funkysmall {
			margin-right: -10px;
			margin-left: -10px;
		}
		
		#top h1 {
			letter-spacing: 3px;
			font-weight: normal;
			margin: 0px;
			top: 0px;
			font-size: 12pt;
		}
		
		#top h1 a {
			font-size: 12pt;
		}
		
		#main_menu li a {
			padding: 10px 10px 5px 10px;
		}
		
		#main_menu li a:hover, #main_menu li a.current {
			background-position: bottom;
		}
		
		#acknowledgements {
			text-align: left;
		}
		
		#profiles .profile {
			float: left;
			width: 80px;
			margin: 0px 0px 0px 40px;
		}
		
		#profiles .onlyfull {
			clear: none;
		}
		
		#games {
			margin-top: 30px;
		}
		
		#games .game_logo {
			float: left;
			margin-left: 20px;
		}
		
		#resume #address #permanent, #resume #address #current {
			text-align: center;
		}
		
		#resume .leftborder {
			border-left: 0px solid #202020;
			margin-bottom: 10px;
			padding-left: 0px;
		}
		
		#resume .rightalign {
			text-align: left;
		}
		
		#resume .job {
			margin: 10px 0px 0px 0px;
		}
		
		#contentbg {
			padding: 10px;
		}
		
		#content {
			margin-left: 0px;
		}
	}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	@media only screen and (max-width: 480px) {
		#main_menu li a {
			padding: 10px 5px 5px 5px;
			font-size: 10pt;
			font-weight: normal;
		}
		
		#profiles .profile {
			margin-left: 10px;
		}
		
		#games .game_logo {
			float: none;
			margin-left: 0px;
		}
	}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {
		#top h1 {
			font-size: 18pt;
		}
		
		#welcome {
			font-size: 11pt;
		}
		
		#welcome span {
			font-size: 13pt;
		}
		
		#bio {
			font-size: 11pt;
		}
		
		#profiles img {
			height: 80px;
		}
		
		#resume {
			font-size: 10pt;
		}
		
		#resume h1 {
			font-size: 14pt;
		}
		
		#resume h2 {
			font-size: 10pt;
		}
	}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
