/* 
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
/* #Site Styles
================================================== */

body {
	background: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	font-family: "Lucida Sans";
	color: #1A1A1A;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: #1A1A1A;
}
#main_menu a, a:visited {
	/* color: #42210B; */
}

#main_menu a:hover {
	/* color: #C7B299; */
}

#contact_info a, a:visited {
	/* color: #1A1A1A */
}

#contact_info a:hover {
	/* color: #4D4D4D; */
}

#site_title {
	/* color: #42210B; */
}

#main_menu {
	/* color: #42210B; */
}

#flash_notice {
  color: green;
}

#contact_link {
	display: none;
}

/* Desktop Display Formatted */

body {
	padding-top: 15px;
}

#site_title {
	line-height: 100%;
	font-size: 52pt;
}

#main_menu {
	line-height: 100%;
	font-size: 32pt;
	float: right;
	margin-top: 23px;
}

.selected_link {
	text-decoration: underline;
}

#contact_info {
	margin-top: 20px;
	font-size: 12pt;
}

#content {
	margin-top: 40px;
}

/* From rails scaffold.css */
div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		body {
			padding-top: 15px;
		}
		
		#site_title {
			font-size: 36pt;
		}
		
		#main_menu {
			font-size: 24pt;
			margin-top: 11px;
		}
		
		#contact_info {
			margin-top: 20px;
			font-size: 10pt;
		}
		
		#content {
			margin-top: 30px;
		}
	}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {
		body {
			padding-top: 15px;
		}
		
		#site_title {
			font-size: 32pt;
		}
		
		#main_menu {
			font-size: 20pt;
			margin-bottom: 20px;
		}
		
		#contact_info {
			display: none;
		}
		
		#contact_link {
			display: block;
		}
		
		#content {
			margin-top: 30px;
		}
	}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
		body {
			padding-top: 15px;
		}
		
		#site_title {
			font-size: 36pt;
		}
		
		#main_menu {
			font-size: 24pt;
			margin-top: 11px;
		}
		
		#contact_info {
			margin-top: 20px;
			font-size: 10pt;
		}
		
		#content {
			margin-top: 30px;
		}
	}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {
		body {
			padding-top: 15px;
		}
		
		#site_title {
			font-size: 36pt;
		}
		
		#main_menu {
			font-size: 24pt;
			margin-top: 11px;
		}
		
		#contact_info {
			margin-top: 20px;
			font-size: 10pt;
		}
		
		#content {
			margin-top: 30px;
		}
	}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
		body {
			padding-top: 15px;
		}
		
		#site_title {
			font-size: 36pt;
		}
		
		#main_menu {
			font-size: 24pt;
			margin-top: 11px;
		}
		
		#contact_info {
			margin-top: 20px;
			font-size: 10pt;
		}
		
		#content {
			margin-top: 30px;
		}
	}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/