<% @rss.items.each_with_index do |item, count| %>
<div class="update">
<%=
	content = CGI::unescapeHTML(item.content.to_s)
	fixed_content = content.gsub(/href="\/vega670/, 'target="_blank" href="https://github.com/vega670')
	fixed_content.html_safe
%>
</div>
	<% if count > 3 then break end %>
<% end %>