<% @rss.items.each_with_index do |item, count| %>
<div class="update">
	<h3><%= strip_tags(CGI::unescapeHTML(item.title.to_s)) %></h3>
	<%= strip_tags(CGI::unescapeHTML(item.content.to_s)) %>
</div>
	<% if count > 5 then break end %>
<% end %>