<% title 'Bio' %>

<div id="bio">
<p>Matthew is a problem solver specializing in software and web application development. He enjoys the meticulous process of solving problems by drafting and implementing flexible and extensible software architectures and code.</p>
<p>
</div>
