<% title 'Contact' %>

<div id="contact_info">
<%= mail_to "matthew.robert.dale@gmail.com", "matthew.robert.dale<br />@gmail.com".html_safe, :encode => "javascript" %>
<br /><br />
(706) 247-2016
<br /><br />
2703 Macby Ave<br />
Marietta, GA 30066
</div>