<% title 'Contact' %>

<div id="contact_info">
	Please feel free to contact me in any of the following ways. I will respond most promptly to email or phone contact.<br />
<div class="six columns alpha">
	<h2>By Email</h2>
	<%= mail_to "matthew.robert.dale@gmail.com", "matthew.robert.dale@gmail.com", :encode => "javascript" %>
</div>
<div class="five columns">
	<h2>By Phone</h2>
	(706) 247-2016
</div>
<div class="five columns omega">
	<h2>By Mail</h2>
	2703 Macby Ave<br />Marietta, GA 30066
</div>
<div class="clear"></div>
</div>