<% title 'Home' %>

<div class="ten columns alpha">
<div id="welcome">
My name is Matthew Dale. I am a software developer with a varied background, including web application, client-server, and GPGPU development. To get a better feel for my background, check out the Projects section of the site.
</div>
</div>
<div class="five columns omega offset-by-one">
<h2>Github Project Updates</h2>

<%= render_cell :feeds, :project_updates %>
</div>
<div class="clear"></div>