<% title 'Home' %>

<div class="eleven columns alpha">
<div id="welcome">
<p><span>Hi, my name is Matthew.</span>  I am a recent computer science graduate and aspiring professional developer. Since my first experience with programming using my TI-83 calculator’s <%= link_to "TI-BASIC", "http://en.wikipedia.org/wiki/TI-BASIC", :target => "_blank" %> programming solutions to write simple programs for my classmates, I have been aware of my aptitude for computer science and eventually decided to pursue it as a profession.</p>
<p>Today, I specialize in Ruby on Rails, Java, and C/C++ development.</p>
</div>
</div>
<div class="four columns omega offset-by-one" id="updates">
<h2>Project Update Feed <%= link_to(image_tag("/images/rss.png"), "https://github.com/vega670.atom", :target => "_blank") %></h2>
<h4>powered by <%= link_to "github", "https://github.com/", :target => "_blank" %></h4>

<%= render_cell :feeds, :project_updates %>
</div>
<div class="clear"></div>