<% title 'Home' %>

<div class="ten columns alpha">
<div id="welcome">
<p><span>Hi, my name is Matthew.</span> I am an aspiring developer of elegant software solutions. I am a graduate of the computer science program at Southern Polytechnic State University. I have been developing software since I discovered the BASIC-based programming solutions on my TI-83 calculator in high school.</p>
<p>Today, I specialize in Ruby on Rails, Java, and C/C++ development.</p>
</div>
</div>
<div class="five columns omega offset-by-one" id="updates">
<h2>Project Update Feed <%= link_to(image_tag("/images/feed.svg"), "https://github.com/vega670.atom", :target => "_blank") %></h2>
<h4>powered by <%= link_to "github", "https://github.com/", :target => "_blank" %></h4>

<%= render_cell :feeds, :project_updates %>
</div>
<div class="clear"></div>