<h1>Listing pages</h1>

<% @pages.each do |page| %>
	<%= link_to page.name, :controller => "pages", :action => "show", :id => page.permalink %>
	<%= link_to 'Delete', {:controller => "pages", :action => "show", :id => page.permalink}, :confirm => 'Are you sure?', :method => :delete %><br />
<% end %>
<br />

<%= link_to 'New Page', new_page_path %>
