/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.rounded {
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.matthew {
  font-size: 4em;
  font-weight: lighter;
  line-height: 1em;
}

.matthew-xs {
  font-size: 40px;
  line-height: 25px;
}

@media screen and (max-device-width: 480px) {
  .matthew {
    font-size: 3em;
  }
}

.matthew a:link, .matthew a:visited {
  color: #fff;
}

.matthew a:hover {
  color: #69c;
  text-decoration: none;
}

.navlink {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: lighter;
}

.navlink a:link, .navlink a:visited {
  color: #eee;
  text-decoration: none;
}

.navlink a:hover {
  color: #69c;
}

.aligner {
  height: 32px;
}