-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %ul.nav.navbar-nav
        %li
          .matthew
            = link_to 'Matthew Dale', root_path, class: 'navbar-brand'
        %li
          = link_to "Articles I'm Reading", articles_path

